:root {
    --purple: #9564AA;
    --pink: #C15CA1;
    --brown: #AA6464;
    --yellow: #FFCF2D;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    min-width: 320px;
    font-family: "Ubuntu", sans-serif;
    position: relative;

}

body.no_scroll {
    overflow: hidden;
    touch-action: none;
}

header {
    width: 100%;
    height: 100px;
    background: var(--purple);
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}


a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0px;
}

/* block header */
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    height: 100%;
    color: white;
    font-weight: bold;
    margin: auto;

}

.header__logo {
    font-size: 55px;
}

.header__logo a {
    background-color: transparent;
    padding: 0px 20px;
    border-radius: 30px;
}

.header__logo a:hover {
    background-color: #00000012;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 365px;
}

.header-diamand {
    background-image: url("../images/diamand-header.webp");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    background-size: contain;
}

.header__premium {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #684677;
    border-radius: 10px;
    width: 122px;
    height: 30px;
    color: var(--yellow);
    cursor: pointer;
}

.header__premium:hover {
    background-color: var(--yellow);
    color: #684677;
}

.header__premium:hover .header-diamand {
    background-image: url("../images/diamand-header_purpl.webp");
}

.header__nav a:hover {
    text-decoration: underline;
}

/* burger block */
.burger-header {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0px;
    /* width: 100%;
    height: 100%; */
    left: 0;

}


.header-block.open .burger-header .nav {
    left: -10px;
    padding-left: 50px;
    transition: all .4s ease-in-out;
}

.header-block.open .burger-header {
    background-color: rgb(149 100 170);
    width: 100%;
    height: 100%;
}

.header-block.open .nav-icon {
    fill: white;
}

.burger-header .nav {
    background-color: transparent;
    position: relative;
    left: -150%;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.burger-header .nav__item a {
    color: white;
}

.burger-header__menu {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 35px;
}

.burger-header__menu span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.burger-header__burger:hover span {
    background-color: var(--yellow);
}

/* block nav */
.nav {
    width: 270px;
    height: 810px;
    background-color: rgba(149, 100, 170, 0.1);
    border: 2px solid rgba(149, 100, 170, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: ani 2.5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile img {
    width: 49px;
    height: 49px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    justify-content: start;
}

.profile__info span {
    color: white;
    background-color: var(--purple);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 86px;
    height: 21px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

.profile__info p {
    margin: 0px;
}

.nav__item {
    width: 100%;
    margin-top: 25px;
}

.nav__item a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.nav__item a:hover {
    color: #FFCF2D;
}

.nav-icon svg {
    fill: #9564AA;
}

.nav-icon {
    fill: #9564AA;
}

.nav__item a:hover .nav-icon {
    fill: #FFCF2D;
}

.nav__item svg {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

/* block main */
.main {
    width: 100%;
    margin-left: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    max-width: 1170px;
}

h1 {
    font-size: 40px;
    margin: 0px;
    text-shadow: 4px 4px rgb(0 0 0 / 0.25);
}


.row {
    width: 100%;
    height: 2px;
    opacity: 20%;
    background-color: var(--purple);
    margin: 20px auto 30px auto;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    background-color: var(--pink);
    border-radius: 10px;
    padding: 0px 10px;

}

.discount h2 {
    color: var(--yellow);
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.discount p {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* timer */
.timer {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}

#clockdiv {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

#clockdiv>div {
    display: inline-block;
}

#clockdiv div>span {
    display: inline-block;
    text-align: center;

}

/* block offer */
.offer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 25px auto;
    flex-wrap: wrap;
}

.offer__item {
    width: 150px;
    height: 123px;
    background-color: rgba(149, 100, 170, 0.1);
    border: 2px solid var(--purple);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer__item:hover {
    background-color: var(--purple);
}

.offer__item:hover p {
    color: white;
}

.offer__item:hover .offer__button {
    background-color: var(--yellow);
    color: black;
}

.offer__price {
    display: flex;
    align-items: center;
}

.offer__price p {
    font-size: 24px;
    font-weight: bold;
}

.offer__price span {
    font-size: 8px;
    font-weight: bold;
    background-color: var(--yellow);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.offer__button {
    width: 120px;
    height: 52px;
    border-radius: 5px;
    background-color: white;
    color: rgb(0 0 0 / 0.2);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;

}

.special-offer {
    position: relative;
}

.special-offer__block {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    width: 123px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    border-radius: 5px;
    top: -10px;
    right: 14.5px;
}

.offer__item_down {
    width: 100%;
    height: 74px;
    border-radius: 10px;
    background-color: rgba(170, 100, 100, 0.2);
    border: 2px solid var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.offer__item_down .offer__price {
    flex-direction: row;
}

.offer__item_down .offer__button {
    margin-left: 41px;
}

.offer__item_down:hover {
    background-color: var(--brown);
}

.offer__item_down:hover p {
    color: white;
}

.offer__item_down:hover .offer__button {
    background-color: var(--yellow);
    color: black;
}

.privacy-policy {
    font-size: 13px;
}

.privacy-policy a {
    color: var(--purple);
}

.privacy-policy label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Отключаем стандартный стиль чекбокса */
.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    /* для поддержки в Safari */
}

/* Стилизация чекбокса */
.checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid var(--purple);
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 10px;
}

/* Оформление состояния checked */
.checkbox-input:checked {
    margin-right: 10px;
    background-color: var(--purple);
    border-color: var(--purple);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.advantages {
    width: 100%;
    margin-top: 33px;
}

.advantages-block {
    position: relative;
    width: 100%;
    max-width: 349px;
    margin: auto;
}

.advantages__diamand-img {
    width: 349px;
    height: 312px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.advantages__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 108px;
    height: 96px;
}

.advantages__item p {
    font-size: 12px;
    color: var(--purple);
    font-weight: bold;
    text-align: center;
}

.advantages__item-img {
    background-color: rgba(149, 100, 170, 0.1);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.item1 {
    top: 0;
    left: 20%;
}

.item2 {
    top: 0;
    left: 55%;
}

.item3 {
    right: 0px;
    top: 35%;
}

.item4 {
    bottom: 0;
    left: 20%;
}

.item5 {
    bottom: 0;
    left: 55%;
}

.item6 {
    left: 0px;
    top: 35%;
}

/* media block */

@media (max-width:1100px) {
    .content {
        width: 98%;
    }

    .header-block {
        width: 98%;
    }

    .offer__item {
        margin: 10px;
    }

    .offer {
        justify-content: center;
    }
}

@media (max-width:1050px) {

    .discount h2 {
        font-size: 30px;
        margin: 0px;
    }
}

@media (max-width:960px) {
    .discount {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .discount p {
        margin: 10px 0px;
    }
}

@media (max-width:750px) {
    h1 {
        font-size: 30px;
    }

    .header__nav a {
        display: none;
    }

    .header__nav {
        justify-content: end;
        width: 100%;

    }

    .header__premium {
        background-color: transparent;
        width: 100%;
        justify-content: end;
    }

    .header__premium span:nth-child(1) {
        display: none;
    }

    .header-diamand {
        background-image: url("../images/diamand.svg");
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-size: 80%;
    }

    .header__premium:hover .header-diamand {
        background-image: url("../images/diamand_hover.svg");
        background-color: #FFCF2D;
    }

    .header__premium:hover {
        background-color: transparent;
    }

    .nav {
        display: none;
    }

    .header__logo {
        display: none;
    }

    .burger-header {
        display: block;
    }

    .burger-header .nav {
        display: flex;
    }
}

@media (max-width:320px) {}