:root {
    --purple: #9564AA;
    --pink: #C15CA1;
    --brown: #AA6464;
    --yellow: #FFCF2D;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    min-width: 320px;
    font-family: "Ubuntu", sans-serif;

}

header {
    width: 100%;
    height: 100px;
    background: var(--purple);
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}


a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0px;
}

/* block header */
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 100%;
    color: white;
    font-weight: bold;
    margin: auto;
}

.header__logo {
    font-size: 55px;
}

.header__logo a {
    background-color: transparent;
    padding: 0px 20px;
    border-radius: 30px;
}

.header__logo a:hover {
    background-color: #00000012;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.header-diamand {
    background-image: url("../images/diamand-header.webp");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

.header__premium {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #684677;
    border-radius: 10px;
    width: 122px;
    height: 30px;
    color: var(--yellow);
    cursor: pointer;
}

.header__premium:hover {
    background-color: var(--yellow);
    color: #684677;
}

.header__premium:hover .header-diamand {
    background-image: url("../images/diamand-header_purpl.webp");
}

.header__nav a:hover {
    text-decoration: underline;
}


/* block nav */
.nav {
    width: 270px;
    height: 810px;
    background-color: rgba(149, 100, 170, 0.1);
    border: 2px solid rgba(149, 100, 170, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: ani 2.5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile img {
    width: 49px;
    height: 49px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    justify-content: start;
}

.profile__info span {
    color: white;
    background-color: var(--purple);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 86px;
    height: 21px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

.profile__info p {
    margin: 0px;
}

.nav__item {
    width: 100%;
    margin-top: 25px;
}

.nav__item a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.nav__item a:hover {
    color: #FFCF2D;
}

.nav-icon svg {
    fill: #9564AA;
}

.nav-icon {
    fill: #9564AA;
}

.nav__item a:hover .nav-icon {
    fill: #FFCF2D;
}

.nav__item svg {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

/* block main */
.main {
    width: 70%;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    max-width: 1300px;
}

h1 {
    font-size: 40px;
    margin: 0px;
    text-shadow: 4px 4px rgb(0 0 0 / 0.25);
}


.row {
    width: 100%;
    height: 2px;
    opacity: 20%;
    background-color: var(--purple);
    margin: 20px auto 30px auto;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    background-color: var(--pink);
    border-radius: 10px;
    padding: 0px 10px;

}

.discount h2 {
    color: var(--yellow);
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.discount p {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* timer */
.timer {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}

#clockdiv {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

#clockdiv>div {
    display: inline-block;
}

#clockdiv div>span {
    display: inline-block;
    text-align: center;

}